/* Limpando as margens padrão do navegador */
body {
  margin: 0;
  padding: 0;
  background-color: #F5F7FA;
}

/* Hero Section (A área principal azul) */
.hero-section {
  background-color: #092C4C;
  color: white;
  padding: 6rem 1rem;
  text-align: center;
}

/* Banners de Resultado */
.banner-resultado {
  color: white;
  padding: 2rem 1rem;
}

.banner-safe {
  background-color: #27AE60;
}

.banner-warning {
  background-color: #F39C12;
}

.banner-danger {
  background-color: #C0392B;
}
.search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .search-container {
    flex-direction: row;
  }
}